[Service]
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
--name %n \
quay.io/coreosinc/authd /opt/authd/bin/authd-overlord \
--db-url=${AUTHD_OVERLORD_DB_URL} \
--key-secret=${AUTHD_OVERLORD_KEY_SECRET}

ExecStop=/usr/bin/docker kill %n
