[Service]
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
--name %n \
--volume /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt \
--publish 5556:5556 \
--env AUTHD_WORKER_ISSUER=https://auth.update.core-os.net \
--env AUTHD_WORKER_DB_URL=${AUTHD_WORKER_DB_URL} \
--env AUTHD_WORKER_KEY_SECRET=${AUTHD_WORKER_KEY_SECRET} \
quay.io/coreos/authd /opt/authd/bin/authd-worker

ExecStop=/usr/bin/docker kill %n

[X-Fleet]
Global=true
